<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Report for {{address}} is ready!</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
	<p>We hope this message finds you well.</p>
	<p>Your report for the address is now available on <a href="{{ href }}" target="_blank">this link!</a> </p>
    <p>Please reply to this email for any query.</p>
	<p>Best regards,<br>
	Team Parcelini</p>
	
</body>
</html>